In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.relativedelta import relativedelta

%matplotlib inline

In [2]:
NUM_MONTHS = 12 * 5

# create a timeline that we will use to attach our months to
# and importantly one for our balance
date_today = datetime.today()
months_timeline = [(date_today + relativedelta(months=i)).date() for i in range(NUM_MONTHS)]
print(f"Timeline from {months_timeline[0]} to {months_timeline[-1]}")

Timeline from 2023-03-05 to 2028-02-05

## Savings and Income

In [3]:
CURRENT_SALARY = 52_500 # HKD

PAYRISE_RATE = 1.02 # percent
PAYRISE_MONTHS = [3] # month payrise is assigned

BONUS_MONTHS = [3] # month bonus is assigned
BONUS_MONTHS_MULTIPLIER = 1 # how many months bonus we get

CURRENT_SAVINGS = 300_000 # HKD

RENT = -16_000 # HKD
AVG_EXPENSES = -13_000 # HKD; on the conservative side

# annual payrise is 2% (match inflation)
salary_timeline = []
bonus_timeline = []
balance_timeline = [0. for i in range(NUM_MONTHS)]
savings_timeline = []
rent_timeline = []
avg_expenses_timeline = []

# loop through months timeline to add to it
for idx, date in enumerate(months_timeline):
    
    # payrise is assigned on the second or third month
    if date.month in PAYRISE_MONTHS:
        CURRENT_SALARY *= PAYRISE_RATE
    salary_timeline.append(CURRENT_SALARY)
    
    # assign bonus
    bonus_amount = 0
    if date.month in BONUS_MONTHS:
        bonus_amount = CURRENT_SALARY
    bonus_timeline.append(bonus_amount)
    
    # add rent and expenses
    rent_timeline.append(RENT)
    avg_expenses_timeline.append(AVG_EXPENSES)
    
    # sum balance
    balance = CURRENT_SALARY + bonus_amount + RENT + AVG_EXPENSES
    balance_timeline[idx] = balance
    
    # add balance to savings
    CURRENT_SAVINGS += balance
    savings_timeline.append(CURRENT_SAVINGS)

In [4]:
total_df = pd.DataFrame({
    'date': months_timeline,
    'salary': salary_timeline,
    'bonus': bonus_timeline,
    'rent': rent_timeline,
    'expenses': avg_expenses_timeline,
    'balance': balance_timeline,
    'savings': savings_timeline
})
total_df['savings'] = (total_df['savings']/1000000).apply(lambda x: '${:,.2f}MM'.format(x))

Data types:
- Recurring income; yearly uplift?
- Bonus; yearly payout
- One-off income; when and how much
- montly spend (deduction)

In [5]:
total_df

,date,salary,bonus,rent,expenses,balance,savings
0,2023-03-05,53550.000000,53550.000000,-16000,-13000,78100.000000,$0.38MM
1,2023-04-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.40MM
2,2023-05-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.43MM
3,2023-06-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.45MM
4,2023-07-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.48MM
5,2023-08-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.50MM
6,2023-09-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.53MM
7,2023-10-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.55MM
8,2023-11-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.57MM
9,2023-12-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.60MM
10,2024-01-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.62MM
11,2024-02-05,53550.000000,0.000000,-16000,-13000,24550.000000,$0.65MM
12,2024-03-05,54621.000000,54621.000000,-16000,-13000,80242.000000,$0.73MM
13,2024-04-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.75MM
14,2024-05-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.78MM
15,2024-06-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.81MM
16,2024-07-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.83MM
17,2024-08-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.86MM
18,2024-09-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.88MM
19,2024-10-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.91MM
20,2024-11-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.93MM
21,2024-12-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.96MM
22,2025-01-05,54621.000000,0.000000,-16000,-13000,25621.000000,$0.98MM
23,2025-02-05,54621.000000,0.000000,-16000,-13000,25621.000000,$1.01MM
24,2025-03-05,55713.420000,55713.420000,-16000,-13000,82426.840000,$1.09MM
25,2025-04-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.12MM
26,2025-05-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.15MM
27,2025-06-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.17MM
28,2025-07-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.20MM
29,2025-08-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.23MM
30,2025-09-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.25MM
31,2025-10-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.28MM
32,2025-11-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.31MM
33,2025-12-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.33MM
34,2026-01-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.36MM
35,2026-02-05,55713.420000,0.000000,-16000,-13000,26713.420000,$1.39MM
36,2026-03-05,56827.688400,56827.688400,-16000,-13000,84655.376800,$1.47MM
37,2026-04-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.50MM
38,2026-05-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.53MM
39,2026-06-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.55MM
40,2026-07-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.58MM
41,2026-08-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.61MM
42,2026-09-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.64MM
43,2026-10-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.67MM
44,2026-11-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.69MM
45,2026-12-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.72MM
46,2027-01-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.75MM
47,2027-02-05,56827.688400,0.000000,-16000,-13000,27827.688400,$1.78MM
48,2027-03-05,57964.242168,57964.242168,-16000,-13000,86928.484336,$1.86MM
49,2027-04-05,57964.242168,0.000000,-16000,-13000,28964.242168,$1.89MM
50,2027-05-05,57964.242168,0.000000,-16000,-13000,28964.242168,$1.92MM
51,2027-06-05,57964.242168,0.000000,-16000,-13000,28964.242168,$1.95MM
52,2027-07-05,57964.242168,0.000000,-16000,-13000,28964.242168,$1.98MM
53,2027-08-05,57964.242168,0.000000,-16000,-13000,28964.242168,$2.01MM
54,2027-09-05,57964.242168,0.000000,-16000,-13000,28964.242168,$2.04MM
55,2027-10-05,57964.242168,0.000000,-16000,-13000,28964.242168,$2.07MM
56,2027-11-05,57964.242168,0.000000,-16000,-13000,28964.242168,$2.10MM
57,2027-12-05,57964.242168,0.000000,-16000,-13000,28964.242168,$2.12MM
58,2028-01-05,57964.242168,0.000000,-16000,-13000,28964.242168,$2.15MM
59,2028-02-05,57964.242168,0.000000,-16000,-13000,28964.242168,$2.18MM

## Debts

In [6]:
# https://www.moneygeek.com/personal-loans/calculate-loan-payments/#:~:text=So%2C%20to%20get%20your%20monthly,doesn%27t%20have%20to%20be.
# amortising loan
amount_borrowed = 30_000 # hkd
annual_interest_rate = 0.05 # percent
NUM_YEARS = 5
monthly_interest_rate = annual_interest_rate / 12
duration_months = 12 * NUM_YEARS 

X = (1 + monthly_interest_rate)**duration_months
Y1 = X - 1
Y2 = X * monthly_interest_rate
Z = Y1 / Y2
montly_repayment = amount_borrowed / Z

print(f"Borrowing ${amount_borrowed:,} over {NUM_YEARS} years at {annual_interest_rate} annual interest rate equates to monthly repayments of ${montly_repayment:,.2f}")
print(f"Total amount paid over duration: ${duration_months*montly_repayment:,.2f}")

Borrowing $30,000 over 5 years at 0.05 annual interest rate equates to monthly repayments of $566.14
Total amount paid over duration: $33,968.22